.headCard {
    width: 287px;
    height: 495px;
    /* overflow: hidden; */
    position: relative;
}

.card {
    width: 257px;
    height: 489px;
    position: relative;
    margin-left: 25px;
    overflow: hidden;
    border-radius: 8px;
    /* z-index: -1; */
    /* margin: 30px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 40px;

    backdrop-filter: blur(0px);
    /* box-shadow: 0px 4px 10px 10px #d8d1d140; */
    background: linear-gradient(0, #303030 59.6%, rgba(89, 87, 87, 0) 102.31%);

}

.cardTitle {
    /* align-items: center; */
    /* width: fit-content; */
    left: 63px;
    color: #fff;
    position: relative;
    margin-top: 5px;
    left: 12px;
    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */
    /* word-wrap:break-word; */
}

.cardDescription {
    word-wrap: break-word;
    /* margin-right: 70px; */
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    /* overflow: hidden; */

}

.bkm {
    z-index:1;
    position: relative;
    top: 42px;
    left:250px;
    height: 25px;
    width: 25px;

}

.card-app {
    display: flex;
    justify-content: center;
}


.del{
    height: 20px;
    width:20px;
    position: relative;
    left: 48%;
    bottom: 3%;
    z-index: 8;
    box-shadow: 0px 4px 15px 0px #0000001A;
}