.card {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  color:white;
  justify-content: center;
  position: relative;
  margin-top: 25px;
}

.img {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: -1;
  }
  .h4{
    position: relative;
    justify-content: center;
    margin-top: 35px;
    font-size: small;
    z-index: -1;   
   
  }

