.slideField {
    height: 45px;
    width: 500px;
    /* border: solid; */
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 65px;
    left: 45px;
}

.strAdd {
    font-size: 15px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    background-color: white;
}

.sld {
    color: black;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 4px 15px 0px #0000001A;

}

.formField {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    border-color: black;
    position: absolute;
    left: 50px;
    top: 120px;
}

.heading {
    height: 35px;
    width: 220px;
    top: 40px;
    left: 170px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 0;
    position: absolute;
}

.description {
    height: 80px;
    width: 220px;
    top: 95px;
    left: 170px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 0;
    position: absolute;
}

.url {
    height: 35px;
    width: 220px;
    top: 205px;
    left: 170px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 0;
    position: absolute;
}

.category {
    height: 35px;
    width: 225px;
    top: 280px;
    left: 170px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 0;
    position: absolute;
}

.post {
    height: 35px;
    width: 75px;
    position: absolute;
    left: 475px;
    top: 480px;
    border-radius: 25px;
    background-color: #FF7373;
    border-color: #FF7373;
    border: none;
    color: white;
    font-weight: 400;
}

.previous {
    height: 35px;
    width: 75px;
    position: absolute;
    left: 95px;
    top: 480px;
    border-radius: 25px;
    background-color: #92ef73;
    border-color: #92ef73;
    color: white;
    font-weight: 400;
    border: none;
}

.next {
    height: 35px;
    width: 75px;
    position: absolute;
    left: 175px;
    top: 480px;
    border-radius: 25px;
    background-color: #3878ef;
    border-color: #3878ef;
    color: white;
    font-weight: 400;
    border: none;
}

.hed {
    position: absolute;
    top: 145px;
}

.desc {
    position: absolute;
    top: 215px;
}

.pht {
    position: absolute;
    top: 315px;
}

.cat {
    position: absolute;
    top: 390px;
}